In [4]:
x = ('mango','banana','apple')
x[0] = 'peach'

TypeError: 'tuple' object does not support item assignment

In [2]:
x = ['mango','banana','apple','orange']
x[0] = 'peach'

In [3]:
print(x)

['peach', 'banana', 'apple', 'orange']

In [6]:
x = ('mango','banana','apple')
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))

6793792
3809792
3809824

In [7]:
x = ([1,2,3],'banana','apple')

print(x[0])

[1, 2, 3]

In [8]:
print(x[0][0])

1

In [9]:
print(x[0][1])

2

In [10]:
print(x[2][0])

a

In [11]:
x = ([1,2,3],'banana','apple')

print(id(x[0]))
print(id(x[1]))
print(id(x[2]))

82260072
3809792
3809824

In [12]:
x[0][1] = 20

In [13]:
print(x)

([1, 20, 3], 'banana', 'apple')

In [14]:
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))

82260072
3809792
3809824

In [15]:
x[0] = [1,2,3]

TypeError: 'tuple' object does not support item assignment

In [ ]:
Immutables:
    str
    tuple
    int
    float
    bool

In [ ]:
a = 10
a = 20

In [16]:
## DATA TYPES CONVERSION
## TYPE CASTING.

In [ ]:
Obtaining a data type from another data type.
Creating a new data type object from existing one of another type

NOTE: WHEN I SAY CONVERTING A LIST INTO TUPLE IT DOES NOT MEAN I AM CONVERTING THE EXISING LIST INTO A TUPLE, WHAT I AM DOING
    IS I AM CREATING ANOTHER TUPLE WHICH WILL CONTAIN THE SAME DATA WHICH THAT LIST CONTAINS.

NOTE: Not all types can be converted into each other. but few can be.
    
    list <----> tuple

In [17]:
a = [1,2,3]
print(type(a))

<class 'list'>

In [18]:
a[0] = 11

In [19]:
print(a)

[11, 2, 3]

In [20]:
b = tuple(a)

In [21]:
print(b)

(11, 2, 3)

In [22]:
b[0]= 12

TypeError: 'tuple' object does not support item assignment

In [23]:
a

[11, 2, 3]

In [24]:
b

(11, 2, 3)

In [25]:
tuple1 = (34,45,56)
list1 = list(tuple1)

In [26]:
print(list1)

[34, 45, 56]

In [1]:
list1 = [1,2,3]
tuple1 = (1,2,4)

list2 = list(tuple1)

In [ ]:
NOTE: NEVER USE RESERVED KEYWORDS IN PYTHON FOR VARAIBLE NAMING.
    RESERVED KEYWORDS: THOSE WORDS WHICH ALRREADY HAVE A MEANING IN PYTHON
        str,list,tuple,dict,bool,None,set,if,for,else,type,id,print,int,float,True,False,len,while,range

In [2]:
x = 'We love Python'
y = list(x)

In [3]:
print(x)

We love Python

In [4]:
print(y)

['W', 'e', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [5]:
len(y)

14

In [6]:
len(x)

14

In [7]:
y[0]

'W'

In [8]:
x = {'python':3,'java':8}

y = set(x)

In [9]:
print(y)

{'python', 'java'}

In [10]:
x['python']

3

In [11]:
x['java']

8

In [12]:
list_of_tuples = [('python',3),('akash','sangwan'),('vinay','soni')]

x = dict(list_of_tuples)

In [13]:
print(x)

{'python': 3, 'akash': 'sangwan', 'vinay': 'soni'}

In [14]:
list_of_tuples = [('python',3,4),('akash','sangwan',5),('vinay','soni',6)]
x = dict(list_of_tuples)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [16]:
x = 45.45
y = int(x)
print(y)

45

In [19]:
Abhishek_dict = {'Java':5,"Html":6,"c++":7 }
print(Abhishek_dict)

tuple1 = ([1,2,3],'apple')
list1 = list(tuple1)
print(list1)

{'Java': 5, 'Html': 6, 'c++': 7}
[[1, 2, 3], 'apple']

## OPERATORS IN PYTHON

In [ ]:
1) Arithmetic Operators
+,-,*,/,//,%,**

In [20]:
a = 45 + 64

In [21]:
print(a)

109

In [22]:
b = 64-45

In [23]:
print(b)

19

In [24]:
x = 7*8
print(x)

56

In [26]:
# Normal division

x = 56/3

print(x)

18.666666666666668

In [29]:
# Floor divison

x = 56//3

print(x)

18

In [ ]:
# Modulus Operator(%)

# c = a%b

# C will contain reminder when we divide a by b

In [30]:
56%3

2

In [31]:
90%27

9

In [32]:
x = 45%6
print(x)

3

In [33]:
2**3

8

In [34]:
3**4

81

In [ ]:
2) Comparison Operators
## What is the output of the Comparison Operator? Boolean Values ( True and False)

a) Equals to ==
b) Not Equals to !=
c) Greater than or equals to >=
d) Less than or equals to <=
e) Greater than >
f) Less than <

In [35]:
a = 30
b = 30

print(a==b)

True

In [36]:
print(a!=b)

False

In [37]:
print(a>b)

False

In [38]:
print(a<b)

False

In [39]:
print(a>=b)

True

In [40]:
print(a<=b)

True

In [41]:
a = 45
b = 30

In [42]:
print(a>=b)

True

In [43]:
print(a!=b)

True

In [44]:
print(a == b)

False

In [45]:
print(a>b)

True

In [46]:
print(a<b)

False

In [48]:
a = 300
b = 300
print(a != b)

False

In [49]:
a = 450
b = 300
print(a != b)

True

In [ ]:
Iterable Data Types: Which contains collection of things
    list: collection of elements
    tuple:
    str: collection of chars
    set: collection of unique items
    dict: collection of pairs
        
Not Iterables:
    int
    float
    bool
    None

In [ ]:
3) Membership Operators
a) in
b) not in

## They areused to check if any item is contained in an iterable or not.
# Output of membership operators is also bool

In [50]:
fruits = ['apple','mango','banana','kiwi']

print('apple' in fruits)

True

In [52]:
print('apple' not in fruits)

False

In [53]:
print('pineapple' in fruits)

False

In [54]:
print('kiwi shake' in fruits)

False

In [55]:
print('kiwi' not in fruits)

False

In [56]:
fruit_name = 'pineapple'

print('p' in fruit_name)

True

In [57]:
print('e' not in fruit_name)

False

In [58]:
dict1 = {'python':3,'java':8}

print('python' in dict1)

True

In [59]:
print(3 in dict1)

False

In [60]:
print('java' not in dict1)

False

In [61]:
print(8 not in dict1)

True

In [62]:
a = True
b = False

In [63]:
a and b

False

In [64]:
a = True
b = True
print(a and b)

True

In [65]:
a = False
b = False
print(a and b)

False

In [66]:
a = True
b = not a

In [67]:
print(b)

False

In [68]:
b = False
a = not b

In [69]:
print(a)

True

In [70]:
a = True
b = False

In [71]:
print(a or b)

True

In [72]:
a = True
b = True

In [73]:
print(a or b)

True

In [74]:
a = False
b = False
print(a or b)

False

In [75]:
a = True
b = False

print(a and (a or b))

True

In [76]:
print(a and not b)

True