In [ ]:
REVISION DAY

In [ ]:
Data Types:
    int
    float
    bool (True and False)
    str: immutable (not editable) (indexing is possible)
    tuple: immutable (not editable) (indexing is possible) (use round brackets)
    list: mutable (indexing is possible) (square brackets)
    dict: key:value pairs (indexing is NOT possible) (use curly and : to separate key value pairs)
    keys are unique and immutable.
    we can access values via keys
    dict are unordered(insertion ordered from python 3.5+)
    set keys are unique and immutable (use curly braces but without : as there are only keys)
    sets are unordered (indexing is NOT possible)

In [1]:
a = 45

In [2]:
print(type(a))

<class 'int'>

In [3]:
b = 45.30

In [4]:
print(type(b))

<class 'float'>

In [7]:
student_info = [{'name':'Sandeep Sharma','marks':23,'isPassed':False},
                {'name':'Narojurama','marks':72,'isPassed':True}]

for student in student_info:
    if student['isPassed'] == True:
        print(student['name'])

Narojurama

In [8]:
a = 'apple'
a[0] = 'b'

TypeError: 'str' object does not support item assignment

In [ ]:
BECAUSE STRING IS IMMUTABLE.

In [9]:
subjects = ('maths','science','english','history')

In [13]:
subjects[1] = 'physics'

TypeError: 'tuple' object does not support item assignment

In [ ]:
BECAUSE TUPLE IS IMMUTABLE

In [14]:
fruits = ['mango','banana','kiwi','apple']

for item in fruits:
    print(item)

mango
banana
kiwi
apple

In [15]:
fruits[0]

'mango'

In [17]:
fruits[2] = 'pineapple'

In [18]:
print(fruits)

['mango', 'banana', 'pineapple', 'apple']

In [19]:
test_dict = {[1,2,3]:'apple'}

TypeError: unhashable type: 'list'

In [ ]:
BECAUSE KEYS IN DICT NEEDS TO BE IMMUTABLE

In [20]:
test_dict = {'apple':[1,2,3],'apple':123}

In [21]:
print(test_dict)

{'apple': 123}

In [22]:
test_dict = {'apple':[1,2,3],'apple':123,(1,2,3):'kiwi'}

In [23]:
print(test_dict)

{'apple': 123, (1, 2, 3): 'kiwi'}

In [24]:
test_dict[(1,2,3)]

'kiwi'

In [27]:
test_dict = {'apple':[1,2,3],'apple':123,(1,2,3):'kiwi'}

print(test_dict.values())
print(test_dict.keys())
print(test_dict.items())

The above things are Iterable( I can loop over them)
The above functions .values(),.keys(),.items() returns stuff which can be 
indexed.

dict_values([123, 'kiwi'])
dict_keys(['apple', (1, 2, 3)])
dict_items([('apple', 123), ((1, 2, 3), 'kiwi')])

In [32]:
for item in test_dict.items():
    print(item[0],'=>',item[1])

apple => 123
(1, 2, 3) => kiwi

In [33]:
x = {'apple',123,'kiwi',(3,4)}

In [34]:
print(x)

{'apple', (3, 4), 123, 'kiwi'}

In [35]:
x[0]

TypeError: 'set' object is not subscriptable

In [ ]:
set does not follow indexing.

In [ ]:
set keys are unique

In [36]:
x = {1,2,2,2,2,2,2,2,2,2}

print(len(x))

2

In [37]:
for key in x:
    print(key)

1
2

In [38]:
print(x)

{1, 2}

In [40]:
x = [('kiwi','mango'),1,2,2,2,2,2,2,2,'apple']

y = set(x)
z = list(y)
print(z)

['apple', 1, 2, ('kiwi', 'mango')]

In [ ]:
order is getting LOST in this process of removing duplicates.

## print() builtin function

In [ ]:
IT PRINTS THINGS TO THE STDOUT.

IT CAN TAKE MULTIPLE INPUTS SEPARATED BY COMMA

In [41]:
print('bikash mandal','Anand','Akash Sangwan','Abhi Chauhan')

bikash mandal Anand Akash Sangwan Abhi Chauhan

In [ ]:
# sep => separates different arguments we are printing
by default sep is space

In [42]:
print('bikash mandal','Anand','Akash Sangwan','Abhi Chauhan',sep='##')

bikash mandal##Anand##Akash Sangwan##Abhi Chauhan

In [ ]:
# end : by default end is newline which means after printing the cursor
# moves to the newline

In [43]:
print('happy')
print('coding')

happy
coding

In [ ]:
'\n' means newline

In [48]:
print('happy',end=' ')
print('coding')

happy coding

## input() FUNCTION

In [ ]:
input() function is used to take input from the stdin
stdin is your keyboard.

input() by default takes everything from the keyboard in string format.

In [49]:
x = input()

34

In [50]:
print(type(x))

<class 'str'>

In [52]:
x

'34'

In [56]:
'136' + '135'

'136135'

In [58]:
'Mohit' + " Chouhan"

'Mohit Chouhan'

In [59]:
x = '234'
y = int(x)
print(y)

234

In [60]:
x = int(input())

234

In [61]:
print(type(x))

<class 'int'>

In [ ]:
student_info = [{'name':'Sandeep Sharma','marks':23,'isPassed':False},
                {'name':'Narojurama','marks':72,'isPassed':True}
                {'name':'Anamika Kumari','marks':56,'isPassed':True}]
Question:
    Take input from the user and the input would be name of the person. Tell us 
    if that person is passed, if yes, print the marks.

In [ ]:
8:30

In [71]:
student_info = [{'name':'Sandeep','marks':23,'isPassed':False},
                {'name':'Narojurama','marks':72,'isPassed':True},
                {'name':'Anamika Kumari','marks':56,'isPassed':True}]
y = input()
for student in student_info:
    if y == student['name']:
        if student['isPassed']:
            print(student['marks'])   
        else:
            print('Person is not passed')

Narojurama
72

In [ ]:
Membership Operators: in , not in
    They check for the membership of an item in the iterable.

In [72]:
'apple' in ['apple','mango']

True

In [73]:
'mango' not in ['apple','mango']

False

In [74]:
'p' in 'Python'

False

In [75]:
'P' in 'Python'

True

## Strings

In [ ]:
"", '''''', """""", ''

In [ ]:
format function

In [77]:
# 1) postion of the varable.

s1 = 'num1 is {0} and num2 is {1}'.format('apple','mango')

In [78]:
print(s1)

num1 is apple and num2 is mango

In [79]:
s1 = 'num1 is {0} and num2 is {1}'.format(1000,20000)
print(s1)

num1 is 1000 and num2 is 20000

In [84]:
# 2) name of the variable

subject = 'Received an email from {name} and from {college}'.format(name='Kiran Wagh',college='MIT')

In [85]:
print(subject)

Received an email from Kiran Wagh and from MIT

In [90]:
# Example
subject = 'Received an email from {name} and from {college}'.format(name='Kiran Wagh',college='MIT')
print(subject)
# Question:
student_info = [{'name':'Vinay Soni','college':'Stanford'},
     {'name':'Kiran Wagh','college':'MIT'},
     {'name':'Ibad Ali','college':'Standord'},
     {'name':'Duhan','college':'Brown University'}]

# Print Email subject for each one of them as done in the above example.

Received an email from Kiran Wagh and from MIT

In [94]:
student_info = [{'name':'Vinay Soni','college':'Stanford'},
     {'name':'Kiran Wagh','college':'MIT'},
     {'name':'Ibad Ali','college':'Stanford'},
     {'name':'Duhan','college':'Brown University'}]
for student in student_info:
    subject = 'Received an email from {name} and from {college}'.format(name=student['name'],college=student['college'])
    print(subject)

Received an email from Vinay Soni and from Stanford
Received an email from Kiran Wagh and from MIT
Received an email from Ibad Ali and from Stanford
Received an email from Duhan and from Brown University