In [ ]:
Dicts builtin functions:
    get()
    setdefault()
    values()
    keys()
    items()
    pop()
    popitem()
    clear()
    del
    
Set builtin functions:
    discard()
    remove()
    clear()
    union()
    difference()
    intersection()
    symmetric_difference()
    del
    pop()
    add()

In [1]:
s1 = {1,2,3,4}

s1.discard(3)
print(s1)

{1, 2, 4}

In [2]:
s1 = {1,2,3,4}

s1.discard(1000)
print(s1)

{1, 2, 3, 4}

In [3]:
s1 = {1,2,3,4}

s1.remove(1000)
print(s1)

KeyError: 1000

## Q3) From the below data
students = {"a","b","c","d","e","f","g","h"}
dance = {"a","b","c","d"}
music = {"e","f","b","c"}

## USE SET to solve:
### a) which love both music and dance?
### b) which love nothing?

### Intuition: Use builtin set functions

In [5]:
students = {"a","b","c","d","e","f","g","h"}
dance = {"a","b","c","d"}
music = {"e","f","b","c"}

In [7]:
s1=dance.intersection(music)
print(s1)

s2=dance.union(music)
s3=students.difference(s2)
print(s3)

{'b', 'c'}
{'h', 'g'}

## Q4) Find the max appearing char by using sets.
s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"

### Pseudocode:
    1.)Make a copy of unique elements from the string.
    2.)Iterate over those and count the occurence in the string.

In [28]:
dict_count = {}
s = "aabbccddeeefff"
unique_elements = set(s)
for key in unique_elements:
    dict_count[key] = s.count(key)
print(dict_count)
maxi_count = max(dict_count.values())
for key,value in dict_count.items():
    if maxi_count == value:
        print(key)

{'d': 2, 'c': 2, 'f': 3, 'e': 3, 'b': 2, 'a': 2}
f
e

In [22]:
s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"
set_char=set(s)
Max_count=float('-inf')
Max_char=''
for char in set_char:
    count=s.count(char)
    if count>Max_count:
        Max_count=count
        Max_char=char
print(Max_count)
print(Max_char)

21
q

In [ ]:
## Functions: Aggregations of Similar Statements to perform a specific task.

In [ ]:
Builtin functions

In [37]:
x = 'applemangobanana'
y = x.count('a')
print(y)
z = x.count('n')
print(z)

5
3

In [ ]:
Syntax:
    def name_of_fun(input1,input2..):
        statement1
        statement2
        .....
        optionally return
    
    This is what is called as defining a fun.
    
    How to call a fun
    name_of_fun(value1,value2...)

In [31]:
def sum_sub_multi(a,b):
    sum_of_a_and_b = a+b
    sub_of_a_and_b = a-b
    multi = sum_of_a_and_b*sub_of_a_and_b
    return multi

In [32]:
# Once you define a fun, you can call it any number of times.

In [33]:
sum_sub_multi(4,5)

-9

In [34]:
sum_sub_multi(40,50)

-900

In [35]:
sum_sub_multi(8,2)

60

In [39]:
sum_sub_multi(80,20,60)

TypeError: sum_sub_multi() takes 2 positional arguments but 3 were given

In [38]:
sum_sub_multi(80)

TypeError: sum_sub_multi() missing 1 required positional argument: 'b'

In [ ]:
def sum_sub_multi(a,b):
    sum_of_a_and_b = a+b
    sub_of_a_and_b = a-b
    multi = sum_of_a_and_b*sub_of_a_and_b
    return multi

In [ ]:
Question: Write a fun, which will take a list and print it's even elements.
    
8:28

In [40]:
def print_even_elements(a):
    for i in a:
        if i%2==0:
            print(i)

In [43]:
M = print_even_elements([1,2,3,4,5,6,7,8,9,10])

print(M)

2
4
6
8
10
None

In [42]:
x = [10,22,33,44,55,66,89,90,56]
print_even_elements(x)

10
22
44
66
90
56

In [ ]:
NOTE: IF YOU DON'T USE A RETURN STATEMENT, IT WILL RETURN NONE.

In [ ]:
def print_even_elements(a):
    for i in a:
        if i%2==0:
            print(i)

In [ ]:
Question: Write a fun, which will take a list and return a list of it's even elements.

8:45

In [45]:
def even_list(a):
    even = []
    for no in a:
        if no%2==0:
            even.append(no)
    return even

x = even_list([1,2,3,4,5,6,7,8])
print(x)

[2, 4, 6, 8]

In [ ]:
Question: Write a fun which takes 2 list as argument and returns sum of respective numbers if the length of both the list
    is same, else it returns None
    
Case1
input
l1 = [1,2,3]
l2 = [4,5,6]

output
l3 = [5,7,9]

Case2
input
l1 = [1,2,3]
l2 = [4,5]

output
None

In [50]:
def respect(a,b):
    if len(a) == len(b):
        respective_sum = []
        for i in range(len(a)):
            respective_sum.append(a[i]+b[i])
        return respective_sum

In [59]:
a = [1,2,3]
b = [4,5,6]

for i in range(len(a)):
#     print(i)
    print(a[i] + b[i])

5
7
9

In [51]:
l1 = [1,2,3]
l2 = [4,5,6]
respect(l1,l2)

[5, 7, 9]

In [52]:
l1 = [1,2,3]
l2 = [4,5]
x = respect(l1,l2)
print(x)

None

In [53]:
duhan

NameError: name 'duhan' is not defined

In [60]:
print('happy')

happy

In [ ]:
Namespace is just a table which contains name and their corresponding reference to an object.

In [3]:
# x = 45
def happy(a,b):
#     x = 'mango'
    print(a+b)
#     print('x inside happy is',x)
    
def sad(a,b):
#     x = 57
    y = 'kiwi'
    print(a+b)
#     print('x inside sad is',x)
    
happy(1,2)
sad(5,6)
print(y)

3
11

NameError: name 'y' is not defined

In [ ]:
print(), input() all of these are defined in builtin namespace.

In [ ]:
Scope of a name: The Places where you can access that name.

In [4]:
i = 122

def even():
    i = 123
    print(i)
    
even()

123

In [5]:
i = 122

def even():
    i = 123
    j = 124
    print(i)
    
def odd():
    i = 126
    j = 130
    print(i)
    
even()
odd()
print(j)

123
126

NameError: name 'j' is not defined

In [7]:
i = 122

def even():
    global i
    i = 123
    j = 124
    
even()
print(i)

123