In [13]:
list1 = ["a", 
         "b", 
         ["c", ["d", "e", ["f", "g"], "k"], "l"],
         "m", 
         "n"]

list2 = ["h", "i", "j"]

In [8]:
list1[2]

['c', ['d', 'e', ['f', 'g'], 'k'], 'l']

In [ ]:
['c', 
 ['d', 'e', ['f', 'g'], 'k'],
 'l']

In [9]:
list1[2][1]

['d', 'e', ['f', 'g'], 'k']

In [14]:
list1[2][1][2].append(list2)

In [15]:
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

# insert

In [16]:
l = [10,20,30,40]

# you want to insert 25 between 20 and 30?
l.insert(2,25)

print(l)

[10, 20, 25, 30, 40]

In [ ]:
l.insert(index_postion_where_you_want_to_insert,element_that_you_wish_to_insert)

In [17]:
l = ['apple','mango','banana']

l.insert(1,'kiwi')

print(l)

['apple', 'kiwi', 'mango', 'banana']

In [ ]:
# deletion

## pop => takes index, by default it has the index of last element, returns the element which is removed.

## remove => takes value, it will not return anything.

## clear => remove all the elements, it makes the list empty.

## del => deletes the obj as well as the name of the list.

In [18]:
l = ['apple','mango','banana']

returned_value = l.pop()

print(l)

print('return value = ',returned_value)

['apple', 'mango']
return value =  banana

In [19]:
l = ['apple','mango','banana']

returned_value = l.pop(0)

print(l)

print('return value = ',returned_value)

['mango', 'banana']
return value =  apple

In [20]:
l = ['apple','mango','banana']

returned_value = l.pop(1)

print(l)

print('return value = ',returned_value)

['apple', 'banana']
return value =  mango

In [21]:
l = ['apple','mango','banana']

returned_value = l.pop(-1)

print(l)

print('return value = ',returned_value)

['apple', 'mango']
return value =  banana

In [22]:
l = ['apple','mango','banana']

returned_value = l.remove('mango')

print(l)

print('return value = ',returned_value)

['apple', 'banana']
return value =  None

In [25]:
l = ['apple','mango','banana','mango']

returned_value = l.remove('mango')

print(l)

print('return value = ',returned_value)

['apple', 'banana', 'mango']
return value =  None

In [ ]:
Question : Delete all occurece of mango without any error.

In [38]:
## Good Solution
l= ['apple','mango','banana','mango','kiwi','mango','apple','banana']
for i in l:
    if i=='mango':
        l.remove('mango')
print(l)

['apple', 'banana', 'kiwi', 'apple', 'banana']

In [37]:
## A little bad solution
fruits=["apple","mango","banana","mango",'mango','apple','banana']
for i in fruits:
    if 'mango' in fruits:
        fruits.remove("mango")
print(fruits)

['apple', 'banana', 'apple', 'banana']

In [ ]:
Membership Operator: Internally It iterates through the whole list and check the presence of that member.

In [39]:
fruits=["apple","mango","banana","mango",'mango','apple','banana']

fruits.clear()
print(fruits)

[]

In [40]:
l = [{'python':3,'java':8},{1,1,1,1,1,1},True,False]

l.clear()
print(l)

[]

In [41]:
l = [{'python':3,'java':8},{1,1,1,1,1,1},True,False]
print(l)

[{'python': 3, 'java': 8}, {1}, True, False]

In [42]:
del l

In [44]:
print(l)

NameError: name 'l' is not defined

# sort,sorted,index,count,reverse in list

In [ ]:
sort: sorting means arranging elements in an order like ascending or descending based on certain value.

In [50]:
l = [10,400,200,-40,-4,0]
print(id(l))
l.sort()
print(id(l))
print(l)

13492616
13492616
[-40, -4, 0, 10, 200, 400]

In [46]:
l = [10,400,200,-40,-4,0]

l.sort(reverse=True)
print(l)

[400, 200, 10, 0, -4, -40]

In [49]:
l = [10,400,200,-40,-4,0]
print(id(l))

l = sorted(l)
print(id(l))
print(l)

13495304
13495144
[-40, -4, 0, 10, 200, 400]

In [53]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [54]:
l = [10,400,200,-40,-4,0]
print(id(l))

l = sorted(l,reverse=True)
print(id(l))
print(l)

74619560
74619688
[400, 200, 10, 0, -4, -40]

In [55]:
l = [10,400,200,-40,-4,0]
l.reverse()
print(l)

[0, -4, -40, 200, 400, 10]

In [57]:
l = [10,400,200,10,-40,-4,0,10]

count_of_10 = l.count(10)
print(count_of_10)

3

In [ ]:
www.youtube.com/fivecube

In [60]:
l = [10,400,200,10,-40,-4,0,10]

index_of_neg40 = l.index(-40)
print(index_of_neg40)

4

In [61]:
l = [10,400,200,10,-40,-4,0,10]

index_of_10 = l.index(10)
print(index_of_10)

0

In [ ]:
l = [10,400,200,10,-40,-4,0,10]
Question: Find all the index positions of the 10 in the list?
8:40

In [62]:
l = [10,400,200,10,-40,-4,0,10]
index_count=-1
for num in l:
    index_count +=1
    if num==10:
        print(index_count)

0
3
7

In [69]:
l = [10,400,200,10,-40,-4,0,10]
for i in l:
    if i == 10:
        index = l.index(i)
        print(index)
#         print(l)
        l[index] = None

0
3
7

In [67]:
l = [10,400,200,10,-40,-4,0,10]
for no in l:
    if no == 10:
        print(l.index(no))
        
# WRONG SOLUTION

0
0
0

In [68]:
# l.index(10) : index finds the first occurence of the element.

0

In [ ]:
## TUPLES

-> Immutable: no method for updating,deleting, and adding.
-> ordered: indexing and slicing
-> heterogenous
-> Duplicates are allowed.

In [70]:
tuple1 = ({'python':3,'java':8},{1,2,2,2,2},True,False,45,45.6,[1,2,3],(4,5),"apple",None)

In [71]:
tuple1[0] = 'mango'

TypeError: 'tuple' object does not support item assignment

In [72]:
t1 = 22,44,66

In [73]:
print(type(t1))

<class 'tuple'>

In [ ]:
## How do we create a tuple with 1 element?

In [75]:
t1 = (4,)
print(type(t1))

<class 'tuple'>

In [76]:
t1 = 4,

In [77]:
print(type(t1))

<class 'tuple'>

In [81]:
t2 = tuple((5,))
print(type(t2))

<class 'tuple'>

In [82]:
x = 'apple is healthy'
print(tuple(x))

('a', 'p', 'p', 'l', 'e', ' ', 'i', 's', ' ', 'h', 'e', 'a', 'l', 't', 'h', 'y')

In [ ]:
index,count

In [83]:
tuple1 = ({'python':3,'java':8},{1,2,2,2,2},True,False,45,45.6,[1,2,3],(4,5),"apple",None)

tuple1.index(None)

9

In [84]:
tuple1.index({'python':3,'java':8})

0

In [89]:
tuple1.index({1,2,2,2,2,2})

1

In [86]:
t1 = (1,1,1,1,1,1,2,3,4,5,3)
t1.count(1)

6

In [87]:
t1.count(3)

2

In [88]:
set1 = {1,2,2,2,2}

print(set1)

{1, 2}

## Q4.) Use range(1,21) make two list, one should contain even numbers and the other should contain odd numbers

In [93]:
even = []
odd = []

for i in range(1,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('odd',odd)
print('even',even)

odd [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
even [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Q.5) given two tuples , arrange their unique elements in sorted order in a list

### Intuition: Tuples are immutable, create an empty list to store the unique elements and sort them.

### Pseudocode:
    1.)Create a new tuple by adding them.
    2.)loop through them to append only value not already present
    3.)finally use sorted method on the list.

In [95]:
a = (1,2,43,-90,0,100,50,50,50)
b = (3,4,-80,60,55)

output_list = [-90,-80,0,1,2,3,4,43,50,55,60,100]

In [99]:
c = sorted(set(a+b))

In [100]:
print(c)

[-90, -80, 0, 1, 2, 3, 4, 43, 50, 55, 60, 100]

In [101]:
a = (1,2,43,-90,0,100,50,50,50)
b = (3,4,-80,60,55)

c = a+b
print(c)

(1, 2, 43, -90, 0, 100, 50, 50, 50, 3, 4, -80, 60, 55)

In [102]:
a = ['apple','mango','banana']
b = ['kiwi','strawberry','peach']
c = a+b
print(c)

['apple', 'mango', 'banana', 'kiwi', 'strawberry', 'peach']