In [ ]:
Immutable DataTypes:
    str
    float
    int
    bool
    None
    tuple
    
Mutable Data Types:
    set
    list
    dict

In [ ]:
Iterable Data Types:
    list
    dict
    set
    str
    tuple
    
Non Iterable Data Types:
    int
    bool
    None
    float

In [ ]:
2 most imp things about keys in dict and keys in sets:
    1) unique
    2) immutable

In [ ]:
Operators:
    1) Arithmetic Operators: (+,-,*,/,//,%,**)
    2) Logical Operators (and,or ,not) (Output: bool)
    3) Comparison Operators (==,<,>,<=,>=,!=) (Output:bool)
    4) Membership Operators (in, not in) (Output:bool)(We check for the membership of a thing in an iterable data type)
    5) Identity Operators (is, is not) (Output: bool) (We check if id of both of them are equal)

In [ ]:
6)Assignment Operators: (=,+=,-=)

In [1]:
x = 4
x-=1   # x = x-1
print(x)

3

In [3]:
x = 4
x+=1 # x = x+1
print(x)
x-=2
print(x)

5
3

In [ ]:
fruits = ['kiwi','apple','mango','banana','pineapple','peach','pomegranate']

Question: if fruits starts with p print('Sweet')
          if it ends with e print('Very very sweet')
          if it starts with with p and ends with e, print('amazing')
          if it falls in none of the above print('No I dont like it!')

In [5]:
fruits = ['kiwi','apple','mango','banana','pineapple','peach','pomegranate']
for fruit in fruits: 
    print(fruit)
    if fruit[0]=='p' and fruit[-1]=='e':    
        print("amazing")    
    elif fruit[0]=='p':    
        print('Sweet')    
    elif fruit[-1]=='e':    
        print('very very sweet')    
    else:    
        print('No I dont like it')

kiwi
No I dont like it
apple
very very sweet
mango
No I dont like it
banana
No I dont like it
pineapple
amazing
peach
Sweet
pomegranate
amazing

In [6]:
## NESTED IF ELSE

fruits = ['kiwi','apple','mango','banana','pineapple','peach','pomegranate']
for fruit in fruits: 
    print(fruit)
    if fruit[0]=='p':
        if fruit[-1]=='e':    
            print("amazing")
        else:
            print('Sweet')   
    elif fruit[-1]=='e':    
        print('very very sweet')    
    else:    
        print('No I dont like it')

kiwi
No I dont like it
apple
very very sweet
mango
No I dont like it
banana
No I dont like it
pineapple
amazing
peach
Sweet
pomegranate
amazing

In [9]:
fruits = ['kiwi','apple','mango','banana','pineapple','peach','pomegranate']
for fruit in fruits:
    print(type(fruit),fruit[0],fruit[-1])

<class 'str'> k i
<class 'str'> a e
<class 'str'> m o
<class 'str'> b a
<class 'str'> p e
<class 'str'> p h
<class 'str'> p e

In [10]:
str1 = 'Mohammad'
str1[0]

'M'

In [11]:
str1[-1]

'd'

In [ ]:
Question: If a no is less than 20 and is an even number print('wow')
          if a no is = 20 and is an odd number print('odd 20')
          if a no > 20 print('big')
            
        Note: Use Nested if-else for doing this question.

In [13]:
x = 21
if x%2 == 0:
    print(x, 'is an even no')

In [30]:
n=7
if n<20:
    if n%2==0:
        print('wow')
elif n==20:
    if n%2!=0:
        print('odd20')
else:
    print('big')

In [31]:
n=15
if n<=20:
    if n%2==0:
        print("wow")
    else:
        print("odd 20")
else:
    print("big")

odd 20

In [48]:
no = 21

if no<20:
    if no%2 == 0:
        print('wow')
elif no==20:
    pass
else:
    print('big')

big

In [ ]:
True Equivalents: Whose bool() value will be treated as true in python

In [49]:
bool(23)

True

In [ ]:
bool() tells us the boolean equivalent of a thing in python

In [50]:
bool(0)

False

In [51]:
bool(-50)

True

In [ ]:
int: 0 is considered as false equivalent
     all other are considered as true equivalent
float: 0.0 is considered as false equivalent.
    all other are considered as true equivalent
bool: True
      False
None is considered as False equivalent

list: empty list is considered as False
      filled list is considered as True
    
dict: empty:False
      filled:True
    
str: '': False
     any char:True

set: empty: False
     filled:True
        
tuple: empty:False
        filled: True

In [59]:
bool([''])

True

In [56]:
no = None
if no:
    print('The no is not 0')
else:
    print('The no is 0')

The no is 0

In [71]:
False_Equivalents = [[],{},(),'',None,False,0,0.0]

for val in False_Equivalents:
    print(bool(val))

False
False
False
False
False
False
False
False

In [68]:
fruits = ['kiwi','apple']

if fruits:
    if fruits[0] == 'apple':
        print('first fruit is apple')
    else:
        print('first fruit is not apple')
else:
    print('fruit list is empty')

first fruit is not apple

In [72]:
True_Equivalents = [[''],'happy',{'python':2},{11,11,22},(1,2),True,34,34.34]

for val in True_Equivalents:
    print(bool(val))

True
True
True
True
True
True
True
True

## Q1 Make a list of numbers from 1 to 5 and print their value using for loop

In [73]:
list_of_numbers = [1,2,3,4,5]
for val in list_of_numbers:
    print(val)

1
2
3
4
5

## Q2) Print yes if x is divisible by 3 and 5 both

### Intuition: since 4 is divisible by 2 it outputs remainder = 0

### PseudoCode:
    1)Check if remainder obtained by 3 is 0
    2)Check if remainder obtained by 5 is 0
    3)If anyone of the above 2 are false, than print nope.
    
list_of_numbers = [15,3,5,25,27,30]

In [76]:
list_of_numbers = [15,3,5,25,27,30]

for no in list_of_numbers:
    if no%3 == 0 and no%5 == 0:
        print(no,'yes')

15 yes
30 yes

## Q3Make a list of numbers from 1 to 10 and loop over them and print ('yes') if it is a even number and ('no') if it is odd.`

In [77]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10]

for no in list_of_numbers:
    if no%2 == 0:
        print('yes')
    else:
        print('no')

no
yes
no
yes
no
yes
no
yes
no
yes

## Slicing

In [ ]:
syntax: name[startindex:endindex:stride]
    
NOTE: if stride is not given, by default the value will is +1
NOTE: endindex is never reached,We go only till endindex-stride

In [78]:
fruit = 'apple'

print(fruit[0:3])

app

In [80]:
fruits = ['kiwi','apple','mango','banana']
print(fruits[0:3])

['kiwi', 'apple', 'mango']

In [81]:
fruits = ('kiwi','apple','mango','banana')
print(fruits[0:3])

('kiwi', 'apple', 'mango')

In [ ]:
## stride in detail:
-ve value means in reverse direction (right to left)
+ve value in the correct direction (left to right)

stride = 3

we will be jumping 3 index positions while slicing.

In [82]:
fruits = ['kiwi','apple','mango','banana']
print(fruits[0:3:2])

['kiwi', 'mango']

In [84]:
fruit = 'pineapple'
print(fruit[0:9:2])

pnape

In [87]:
no = '123456789'
print(no[0:8:2])

1357

In [88]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

slice_of_numbers = list_of_numbers[0:14:3]

In [89]:
print(slice_of_numbers)

[1, 4, 7, 10, 13]

In [90]:
print(len(slice_of_numbers))

5

In [105]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

slice_of_numbers = list_of_numbers[13:0:-1]

In [106]:
print(slice_of_numbers)

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [107]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

slice_of_numbers = list_of_numbers[::-1]

In [108]:
print(slice_of_numbers)

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [109]:
x = 'anamika'

print(x[::-1])

akimana

## Q4) Print multiplication table of 5

### Pseudocode:
    1)loop from 1 to 10
    2)for each item, print * of 5 with it.

In [112]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i*5,end=' ')

5 10 15 20 25 30 35 40 45 50

## Q5) Use a loop to display elements from a  list that are present at even index positions  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [110]:
l =  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
x = l[::2]
for value in x:
	print(value)

10
30
50
70
90