In [ ]:
Revision
Strings:
    - Immutable.
    - Contains collection of characters.
    - Indexing and slicing
    
    Builtin functions of strings:-
    format()
    split and join
    isalpha()
    isalnum()
    lstrip()
    rstip()
    strip()
    find()
    rfind()
    replace()
    count()
    center()
    index()
    lower()
    upper()
    islower()
    isupper()
    title()
    istitle()
    capitalize()

In [1]:
'apple is No {0} fruit in the world'.format(1)

'apple is No 1 fruit in the world'

In [2]:
'apple is No {number} fruit in the world'.format(number=1)

'apple is No 1 fruit in the world'

In [3]:
'apple is No 1 fruit in the world'.split()

['apple', 'is', 'No', '1', 'fruit', 'in', 'the', 'world']

In [5]:
(' ').join(['apple', 'is', 'No', '1', 'fruit', 'in', 'the', 'world'])

'apple is No 1 fruit in the world'

In [ ]:
Lists:
    -Indexing and Slicing
    -Mutable
    -collection of any kind of data type (heterogenous)
    
    Builtins:
        append()? adds at the end of the list.
        del? deletes the reference as well the object
        extend(): adds all the elements of one list into another 
        insert(): inserts an element at a certain index position
        count(): counts the occurence of an element.
        index(): tell the index position of an element.
        sort()
        sorted()
        remove()
        clear()
        pop()
        reverse()
            
            
Tuples are similar just don't follow Editable Operations like append,extend,insert,del,remove

In [6]:
a = ['apple','mango']

a.insert(1,'banana')
print(a)

['apple', 'banana', 'mango']

## DICT

In [ ]:
-> Mutable
-> Unordered: do not support indexing and slicing.
    (From Python 3.5+ onwards dict are insertion ordered.)
-> key:value pair
-> {key1:value1,key2:value2}
-> 2 most important things about keys:
    1) Immutable
    2) Unique

In [7]:
## How to insert a key value pair in a dict?

test_dict = {}

test_dict['Python'] = 3

print(test_dict)

{'Python': 3}

In [8]:

test_dict = {}

test_dict['Python'] = [1,2,3]

print(test_dict)

{'Python': [1, 2, 3]}

In [9]:

test_dict = {}

test_dict['Are We Studying Python'] = True

print(test_dict)

{'Are We Studying Python': True}

In [10]:
test_dict = {}

test_dict[[1,2,3]] = True

print(test_dict)

TypeError: unhashable type: 'list'

In [ ]:
keys can be:
    int
    float
    Boolean
    tuple
    String
    None
    
keys can not be:
    list
    dict
    set

In [11]:
test_dict = {}

test_dict[None] = True

print(test_dict)

{None: True}

## Q1) Store Alphabets as "keys" and their ASCII values as "values" to those keys.

### Intuition: Use "ord" and "chr"

### Pseudocode:
    1.) Loop from a to z.
    2.) store them as keys and find their ascii to store them as values.

In [12]:
alpha_dict = {}
for ascii_value in range(ord('a'),ord('z')+1):
    alpha_dict[chr(ascii_value)] = ascii_value
    
print(alpha_dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

## get

In [14]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

print(d.get('python'))

3

In [19]:
print(d.get('django'))

2

In [20]:
print(d.get('roll_noList'))

[1, 2, 3, 4]

In [17]:
print(d.get('maggi','We did not find what you were looking for'))

We did not find what you were looking for

In [18]:
print(d.get('java','We did not find what you were looking for'))

8

In [ ]:
if key exist: returns the value
else: returns None or specified return value.

## setdefault

In [21]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

x = d.setdefault('python',48)

print(x)
print(d)

3
{'python': 3, 'java': 8, 'django': 2, 'roll_noList': [1, 2, 3, 4]}

In [22]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

x = d.setdefault('maggi',48)

print(x)
print(d)

48
{'python': 3, 'java': 8, 'django': 2, 'roll_noList': [1, 2, 3, 4], 'maggi': 48}

In [24]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

x = d.setdefault('java',48)

print(x)
print(d)

8
{'python': 3, 'java': 8, 'django': 2, 'roll_noList': [1, 2, 3, 4]}

In [ ]:
if key exists: returns the value
else:
    Add to the dict the key value pair. and returns the value.

In [ ]:
## We have a dict, with few alphabets and some nos corresponding to them.

## Objective: We have to add alphabets which are not present in the dict already, with their ascii values.

d = {'a':1000,'m':5000,'p':786}

Use setdefault to do this quesiton. Meaning fully.

In [26]:
d = {'a':1000,'m':5000,'p':786}

for ascii_value in range(ord('a'),ord('z')+1):
    d.setdefault(chr(ascii_value),ascii_value)
    
print(d)

{'a': 1000, 'm': 5000, 'p': 786, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'n': 110, 'o': 111, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [28]:
# Membership Operator in , not in
## In Operator in Dict only serach for keys, and not values.

d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

print('python' in d)

True

In [29]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

print(3 in d)

False

## Q2) Count the number of occurrence of each letter in word "apple". Store count of every letter with the letter in a dictionary.

### Intuition: Use in operator to check if it already exist.

### Pseudocode:
    1.)loop over all the chars in "apple".
    2.)if char already exist, increase it's count, else give it count = 1

In [ ]:
'apple'

ans => {'a':1,'p':2,'l':1,'e':1}

'pineapple'

ans => {'p':3,'i':1,'n':1,'e':2,'a':1,'l':1}

In [32]:
ans = {}
for char in 'apple':
    if char in ans:
        ans[char] = ans[char] + 1
    else:
        ans[char] = 1
print(ans)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [33]:
ans = {}
for char in 'pineapple':
    if char in ans:
        ans[char] = ans[char] + 1
    else:
        ans[char] = 1
print(ans)

{'p': 3, 'i': 1, 'n': 1, 'e': 2, 'a': 1, 'l': 1}

In [34]:
ans = {}
for char in 'zomato':
    if char in ans:
        ans[char] = ans[char] + 1
    else:
        ans[char] = 1
print(ans)

{'z': 1, 'o': 2, 'm': 1, 'a': 1, 't': 1}

In [35]:
ans = {}
for char in 'swiggy':
    if char in ans:
        ans[char] = ans[char] + 1
    else:
        ans[char] = 1
print(ans)

{'s': 1, 'w': 1, 'i': 1, 'g': 2, 'y': 1}

In [38]:
ans = {}
for char in 'swiggy':
    ans[char] = 'swiggy'.count(char)
print(ans)

{'s': 1, 'w': 1, 'i': 1, 'g': 2, 'y': 1}

In [41]:
d = {}
a  = 'apple'
for char in a:
    if char in a:
        d[char]=a.count(char)
print(d)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [42]:
ans = {}
for char in 'apple':
    ans[char] = 'apple'.count(char)
print(ans)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
.keys(), .values(), .items()

In [43]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

for key in d.keys():
    print(key)

python
java
django
roll_noList

In [44]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

for value in d.values():
    print(value)

3
8
2
[1, 2, 3, 4]

In [45]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

for item in d.items():
    print(item)

('python', 3)
('java', 8)
('django', 2)
('roll_noList', [1, 2, 3, 4])

In [ ]:
## deletion in dict
pop => key, removed the key-value pair and returns the value
popitem() => Python 3.6 onwards.. it removes the last added key value pair, returns the key value pair
clear() => empty the dict, returns None
del => deltes the reference as well as the object

In [46]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

return_value = d.pop('python')
print(d)

{'java': 8, 'django': 2, 'roll_noList': [1, 2, 3, 4]}

In [48]:
print(return_value)

3

In [49]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

return_value = d.popitem()
print(d)

{'python': 3, 'java': 8, 'django': 2}

In [50]:
print(return_value)

('roll_noList', [1, 2, 3, 4])

In [51]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

return_value = d.clear()
print(d)
print(return_value)

{}
None

In [52]:
d = {'python':3,'java':8,'django':2,'roll_noList':[1,2,3,4]}

del d
print(d)

NameError: name 'd' is not defined

# sets

In [ ]:
=> Unique elements only {1,1,1,1,1} will become {1}

=> Mutable
=> Unordered: Does not support indexing and slicing

2 most important things about keys in sets:
    1) Unique
    2) Immutable

In [53]:
s1 = {[1,2,3]}

TypeError: unhashable type: 'list'

In [54]:
s2 = {1,1,1,1,1,1,2,2,2,2,2}
print(s2)

{1, 2}

## LIMITATION OF SETS

In [58]:
list1 = [34,29,122,-90,29,600,3,70,29,70]

ans = [34,29,122,-90,600,3,70]

# you want to remove duplicates and keep the order same

In [59]:
s1 = set(list1)

list2 = list(s1)

print(list2)

[34, 3, -90, 70, 600, 122, 29]

In [60]:
ans = []

list1 = [34,29,122,-90,29,600,3,70,29,70]

for no in list1:
    if no not in ans:
        ans.append(no)
        
print(ans)

[34, 29, 122, -90, 600, 3, 70]

In [65]:
x = [('python',3),('java',8)]
print(dict(x))

{'python': 3, 'java': 8}

In [69]:
l = [70,34,29,122,-90,29,600,3,70,29,70]
d = dict.fromkeys(l)
print(d)

list1 = list(d)

print(list1)

{70: None, 34: None, 29: None, 122: None, -90: None, 600: None, 3: None}
[70, 34, 29, 122, -90, 600, 3]

# set operations

In [61]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.union(s2)

print(s3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [70]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.intersection(s2)

print(s3)

{40, 50, 60}

In [71]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.difference(s2) # s1 - s2

s4 = s2.difference(s1) # s2 - s1

print('s3 = ',s3)
print('s4 = ',s4)

s3 =  {10, 20, 30}
s4 =  {80, 90, 70}

In [72]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.symmetric_difference(s2) # s1.difference(s2) + s2.difference(s1) = (s1-s2) + (s2-s1)

print('s3 = ',s3)

s3 =  {70, 10, 80, 20, 90, 30}

In [73]:
s1 = {10,20,30,40,50,60}
print(id(s1))
s2 = {40,50,60,70,80,90}

s1.update(s2)
print(id(s1))

print(s1)

22389224
22389224
{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
sets are mutable.

In [74]:
s1 = {10,20,30,40,50,60}

s1.add(3000)

In [75]:
print(s1)

{40, 10, 50, 20, 3000, 60, 30}

In [ ]:
Deletion:
    pop
    remove
    discard
    clear
    del

In [76]:
s1 = {10,20,30,40,50,60}
del s1

print(s1)

NameError: name 's1' is not defined

In [77]:
s1 = {10,20,30,40,50,60}
s1.clear()

print(s1)

set()

In [83]:
s1 = {10,20,30,40,50,60}

return_value = s1.pop()
print(s1)
print(return_value)

{10, 50, 20, 60, 30}
40

In [84]:
return_value = s1.pop()
print(s1)
print(return_value)

{50, 20, 60, 30}
10

In [85]:
s1 = {10,20,30,40,50,60}

return_value = s1.remove(50)
print(s1)
print(return_value)

{40, 10, 20, 60, 30}
None

In [86]:
s1 = {10,20,30,40,50,60}

return_value = s1.remove(100)
print(s1)
print(return_value)

KeyError: 100

In [87]:
s1 = {10,20,30,40,50,60}

return_value = s1.discard(50)
print(s1)
print(return_value)

{40, 10, 20, 60, 30}
None

In [88]:
s1 = {10,20,30,40,50,60}

return_value = s1.discard(150)
print(s1)
print(return_value)

{40, 10, 50, 20, 60, 30}
None

In [90]:
s1 = {10,20,30,40,50,60}

return_value = s1.pop()
print(s1)
print(return_value)

{10, 50, 20, 60, 30}
40

## Q3) From the below data
students = {"a","b","c","d","e","f","g","h"}
dance = {"a","b","c","d"}
music = {"e","f","b","c"}

## USE SET to solve:
### a) which love both music and dance?
### b) which love nothing?

### Intuition: Use builtin set functions

## Q4) Find the max appearing char by using sets.
s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"

### Pseudocode:
    1.)Make a copy of unique elements from the string.
    2.)Iterate over those and count the occurence in the string.