In [5]:
print('hello world')

hello world

In [3]:
a+b

95

In [1]:
a = 45

In [2]:
b = 50

In [1]:
c = 30

In [2]:
d = 20

## Data Types

In [ ]:
## Check what is the data type of any variable
type function

print(type(var_name))

In [ ]:
Builtin Data Types in Python

1) int => Integers (-100,-40000,0,400,56)

2) float => Decimal Numbers (3.14,5.56,4.09,-0.06)

3) str (String) => 'Chevenu', "Syadav", """Kanishk Singh""", '''I am learning Python'''
                    '3.14'
    
4) list [] square brackets: collection of items(item could be any data type)
    [-100,3.14,'Sandeep Yadav'] mutable
    
5) tuple () round brackets: collection of items(item could be any data type)
    unedtable (immutable)

6) dict (Dictionary) curly brackets and : to separate key value pairs
        keys are immutable and unique
        {key1:value1,key2:value2...}
        dict are mutable

7) set curly brackets => {key1,key2,key3...} 
        keys are immutable and unique
        sets are also mutable

8) bool True, False

9) None

In [4]:
a = 45

print(type(a))

<class 'int'>

In [5]:
b = 45.45

print(type(b))

<class 'float'>

In [ ]:
Your Shopping List:
    Sugar = 2.5

In [6]:
commodityAnvith = 'Sugar'
quantityAnvith = 2.5

print(type(commodity))
print(type(quantity))

Sumeetcommodity = "Sugar"
quantitySummet = 4.5

<class 'str'>
<class 'float'>

In [7]:
4.5+2.5

7.0

In [8]:
'4.5'+'2.5'

'4.52.5'

In [9]:
'Sandeep' + """ Yadav"""

'Sandeep Yadav'

In [10]:
4.5 + 2

6.5

In [15]:
x = "I'm learning Python"

print(type(x))

<class 'str'>

In [16]:
print(x)

I'm learning Python

In [17]:
x = '''Sandeep Yadav wants to learn Python
He will work hard for it.
'''

In [18]:
print(x)

Sandeep Yadav wants to learn Python
He will work hard for it.

In [19]:
x ="""Sandeep Yadav wants to learn Python
He will work hard for it."""

print(type(x))

<class 'str'>

In [20]:
print(x)

Sandeep Yadav wants to learn Python
He will work hard for it.

In [21]:
highlight_message = 'We wish you a very "Happy Birthday"'

In [22]:
print(highlight_message)

We wish you a very "Happy Birthday"

In [23]:
x = """I'm aware that we want to complete the "NASA" Project"""

print(type(x))
print(x)

<class 'str'>
I'm aware that we want to complete the "NASA" Project

In [24]:
y = '''I'm aware that we want to complete the "NASA" Project'''

print(type(y))
print(y)

<class 'str'>
I'm aware that we want to complete the "NASA" Project

In [25]:
x = [-100,3.14,'Sandeep Yadav','Mohamad Aaqib']

print(x)

[-100, 3.14, 'Sandeep Yadav', 'Mohamad Aaqib']

In [29]:
thingsIwantToBuyFromMarket = ['Sugar','BroomStick','kiwi','Green-Tea']
print(type(thingsIwantToBuyFromMarket))
print(thingsIwantToBuyFromMarket)
# print('First Item in the List',thingsIwantToBuyFromMarket[0])

<class 'list'>
['Sugar', 'BroomStick', 'kiwi', 'Green-Tea']

In [27]:
thingsIwantToBuyFromMarket = "'Sugar','BroomStick','kiwi','Green-Tea'"
print(type(thingsIwantToBuyFromMarket))
print(thingsIwantToBuyFromMarket)

<class 'str'>
'Sugar','BroomStick','kiwi','Green-Tea'

In [30]:
fruitsTuple = ('kiwi','apple','mango','grapes','oranges')

In [31]:
print(type(fruits))

<class 'tuple'>

In [32]:
fruitsList = ['kiwi','apple','mango','grapes','oranges']
fruitsList[0] = 'PineApple'
print(fruitsList)

['PineApple', 'apple', 'mango', 'grapes', 'oranges']

In [33]:
fruitsTuple = ('kiwi','apple','mango','grapes','oranges')
fruitsTuple[0] = 'PineApple'
print(fruitsTuple)

TypeError: 'tuple' object does not support item assignment

In [34]:
string1 = 'Kanishk Singh'
print(string1[9])

i

In [35]:
string1 = 'Kanishk Singh'
print(string1[7])

In [36]:
fruitsList = ['kiwi','apple','mango','grapes','oranges']

print(fruitsList[0])

kiwi

In [37]:
print(fruitsList[3])

grapes

In [38]:
print(fruitsList[2])

mango

In [47]:
fruitsTuple = ('kiwi','apple','mango','grapes','oranges')
print(fruitsTuple[-1])
print(fruitsTuple[-3])

oranges
mango

In [48]:
print(len(fruitsTuple))

5

In [49]:
d = 'Aditya P'
print(len(d))

8

In [50]:
VinaySoni_Dict = {'Python':3,"Java":8,"Pandas":1,"Numpy":1,'VitaraBreeza':2021}

In [52]:
VinaySoni_Dict.keys()

dict_keys(['Python', 'Java', 'Pandas', 'Numpy', 'VitaraBreeza'])

In [53]:
VinaySoni_Dict.values()

dict_values([3, 8, 1, 1, 2021])

In [ ]:
keys in VinaySoni_Dict:
    'Python'
    'Java'
    'Pandas'
    'Numpy'
    'VitaraBreeza'
    
keys have to be immutable(uneditable) and unique
Immutable Data Types:
    str
    Numbers(float and int)
    tuple
    bool
    
values in VinaySoni_Dict:
    3
    8
    1
    1
    2021

In [54]:
VinaySoni_Dict = {'Python':3,"Java":8,"Pandas":1,"Numpy":1,'VitaraBreeza':2021
                 ,'Python':5}

In [55]:
print(VinaySoni_Dict)

{'Python': 5, 'Java': 8, 'Pandas': 1, 'Numpy': 1, 'VitaraBreeza': 2021}

In [ ]:
# How can you access items in a dict?
name_of_dict[key]

In [57]:
VinaySoni_Dict['Java'] = 11

In [58]:
print(VinaySoni_Dict)

{'Python': 5, 'Java': 11, 'Pandas': 1, 'Numpy': 1, 'VitaraBreeza': 2021}

In [59]:
AdityaSet = {'Python','Java','C++','HTML',"JavaScript","C#",'Apex','Python','Python'}

In [60]:
print(AdityaSet)

{'C++', 'JavaScript', 'Python', 'HTML', 'Java', 'C#', 'Apex'}

In [ ]:
SETS ARE UNORDERED.
WILL INDEXING HAVE A MEANING?

In [61]:
AdityaSet[0]

TypeError: 'set' object is not subscriptable

In [72]:
VinaySoni_Dict = {'Python':3,"Java":8,"Pandas":1,"Numpy":1,'VitaraBreeza':2021
                 ,'Python':5 ,0:'Anamika'}

In [73]:
VinaySoni_Dict['Java'] = 11

In [74]:
print(VinaySoni_Dict)

{'Python': 5, 'Java': 11, 'Pandas': 1, 'Numpy': 1, 'VitaraBreeza': 2021, 0: 'Anamika'}

In [ ]:
NOTE: FROM PYTHON 3.5+ ONWARDS DICT ARE INSERTION ORDERED.

In [65]:
VinaySoni_Dict[0]

'Anamika'

In [ ]:
'java' vs 'Java' they are different things here.

In [75]:
student = {'Name':'Anamika','Python':100,'DBMS':None,'isPassed':False}

In [77]:
student['Name']

'Anamika'

In [81]:
print(type(student['isPassed']))

<class 'bool'>

In [80]:
print(type(student['DBMS']))

<class 'NoneType'>