## map

In [2]:
def sqr(n):
    return n**2

In [3]:
list(map(sqr,[1,2,3,4]))

[1, 4, 9, 16]

In [4]:
len('apple')

5

In [5]:
list_of_fruits = ['apple','kiwi','mango','banana']

list(map(len,list_of_fruits))

[5, 4, 5, 6]

In [ ]:
list_of_fruits = ['apple','kiwi','mango','banana']
Question: Use map to store first letter of every fruit in a new list.
    
8:02

In [6]:
list_of_fruits = ['apple','kiwi','mango','banana']

def fun_first_letter(a):
    return a[0]

list(map(fun_first_letter,list_of_fruits))

['a', 'k', 'm', 'b']

In [ ]:
Question 2: Use map to get these result for the corresponding items in the list.
    'potato' => 'gold'
    'harpic' => 'hussain'
    other cases => 'oyeluckyluckyoye'
    
for example =>
initial_list = ['potato','harpic','potato','magic','vk']
final_list = ['gold','hussain','gold','oyeluckyluckyoye','oyeluckyluckyoye']

3 minutes.
8:08

In [7]:
initial_list = ['potato','harpic','potato','magic','vk']
def corresponding(x):
    if x == 'potato':
        return 'gold'
    elif x == 'harpic':
        return 'hussain'
    else:
        return 'oyeluckyluckyoye'
    
list(map(corresponding,initial_list))

['gold', 'hussain', 'gold', 'oyeluckyluckyoye', 'oyeluckyluckyoye']

In [8]:
Question 3: Do it without using map
def sqr(n):
    return n**2
list(map(sqr,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
Question 4: Find out len of every word in the sentence 'The Quick brown fox jumps over a lazy dog'
    and store them in a list correponding to every word. Use map for the solution.

In [12]:
def sqr(n):
    return n**2

list1 = [1,2,3,4]
list2 = []
for item in list1:
    list2.append(sqr(item))
    
print(list2)

[1, 4, 9, 16]

In [13]:
'The Quick brown fox jumps over a lazy dog'.split()

['The', 'Quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [14]:
list(map(len,'The Quick brown fox jumps over a lazy dog'.split()))

[3, 5, 5, 3, 5, 4, 1, 4, 3]

In [16]:
x = '11 22 33 44 55'.split()

In [17]:
print(x)

['11', '22', '33', '44', '55']

In [18]:
print(type(x[0]))

<class 'str'>

In [19]:
# input by default is always a string.
x = input('Write numbers separated by space')

Write numbers separated by space100 200 300 400

In [22]:
y = x.split()

print(y)

print(type(y[0]))

['100', '200', '300', '400']
<class 'str'>

In [23]:
x = int(input('Write a single no'))

Write a single no45

In [24]:
print(type(x))

<class 'int'>

In [25]:
print(y)

['100', '200', '300', '400']

In [27]:
z = list(map(int,y))

In [28]:
print(type(z[0]))

<class 'int'>

In [29]:
print(z)

[100, 200, 300, 400]

In [ ]:
int() is a function to convert other data types into int.
list() is also a function to convert other data types into list

In [30]:
dict1 = {'python':3,'java':8}

list(dict1)

['python', 'java']

In [34]:
# Question: How to take space separated numbers from the user.
    
x = list(map(float,input().split()))
print(x)
print(type(x[0]))

200 300 400
[200.0, 300.0, 400.0]
<class 'float'>

In [35]:
def vinayak_soni(x):
    if x.isnumeric():
        return int(x)
    else:
        return x

In [36]:
x = list(map(vinayak_soni,input().split()))
print(x)
print(type(x[0]))

mango 100 orange 200
['mango', 100, 'orange', 200]
<class 'str'>

In [38]:
x = input().split()

100 200 300

In [39]:
print(x)

['100', '200', '300']

In [40]:
for item in x:
    print(int(item))

100
200
300

In [41]:
list(map(int,input().split()))

100 200 300 400

[100, 200, 300, 400]

In [42]:
list_of_items = [200,3,-90]

list_of_items.sort()

print(list_of_items)

# inplace sorting

[-90, 3, 200]

In [43]:
list_of_items = [200,3,-90]

another_list = sorted(list_of_items)

print(another_list)

[-90, 3, 200]

## multiple arguments in a map function

In [47]:
l1 = [1,2,3,4,6000]
l2 = [5,6,7,8,8000]
l3 = [9,10]

def add_utility(v1,v2,v3):
    return v1+v2+v3

print(list(map(add_utility,l1,l2,l3)))

[15, 18]

## Filter

filter(fun_name,iterable_name)

it returns elements from the iterable which are corresponging to true in fun.

In [48]:
def even(n):
    if n%2 == 0:
        return True
    return False

filtered_obj = filter(even,[1,2,3,4,5,6,7,8,9])

final_list = list(filtered_obj)
print(final_list)

[2, 4, 6, 8]

In [ ]:
Question: Write a program to filter out all the words from the list which have starting alpabhet as p
    
    list_of_fruits = ['pineapple','mango','apple','peach']
    output = ['pineapple','peach']

In [49]:
list_of_fruits = ['pineapple','mango','apple','peach']

def fun1(x):
    if x[0] == 'p':
        return True
    return False

list(filter(fun1,list_of_fruits))

['pineapple', 'peach']

In [ ]:
# Question: Remove out the tuples from a list if it
# contains more than 3 items in the tuple. Using filter
    
    input_list = [(1,2,3,4),(2,3),(2,3,4),(1,2,3,4,5)]
    output_list = [(2,3),(2,3,4)]

In [51]:
input_list = [(1,2,3,4),(2,3),(2,3,4),(1,2,3,4,5)]
def fun1(x):
    if len(x)<=3:
        return True
    return False

print(list(filter(fun1,input_list)))

[(2, 3), (2, 3, 4)]

In [ ]:
## lambda functions:
one liner function which are genrally used in function arguments like map and filter

Syntax:
    lambda input_value:returned_value
    
# You just studied map and filter, which takes 1st argument as function_name, so you can actually use
# a lambda function directly there.

In [52]:
fun2 = lambda a:a+5

In [53]:
fun2(3)

8

In [54]:
fun2(0)

5

In [55]:
fun2(1)

6

In [56]:
fun2 = lambda a:a[0]

In [57]:
fun2('apple')

'a'

In [58]:
fun2('mango')

'm'

In [59]:
fun2('pineapple')

'p'

In [62]:
list(map(lambda a:a[0],['apple','kiwi','mango','banana','mohit','vinayak']))

['a', 'k', 'm', 'b', 'm', 'v']

In [63]:
fun2 = lambda a:a%2==0

In [64]:
fun2(4)

True

In [65]:
fun2(5)

False

In [66]:
print(list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9])))

[2, 4, 6, 8]

In [67]:
print(list(filter(lambda x:len(x)<=3,[(1,2,3,4),(2,3),(2,3,4),(1,2,3,4,5)])))

[(2, 3), (2, 3, 4)]

In [ ]:
Question: Use lambda to find out number of elements in a tuple inside list.
    [(1,2,3,4),(2,3),(2,3,4),(1,2,3,4,5)]

In [68]:
fun1 = lambda x:len(x)

In [70]:
fun1('34')

2

In [72]:
print(list(map(lambda x:len(x),[(1,2,3,4),(2,3),(2,3,4),(1,2,3,4,5)])))

[4, 2, 3, 5]